body {
  max-width: 700pt;
  margin: 0 auto;
  font-family: "Open Sans", 'Roboto', Arial, sans-serif;
  font-size: 15pt;
  color: #333344;
  background: #c9d5d7;
}
body.zoom {
  overflow: hidden;
}
body.zoom #view {
  overflow: hidden;
  position: absolute;
  max-width: 100%;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #355d99;
  text-decoration: underline;
  cursor: pointer;
}
a:active {
  color: #2b4b7b;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.clear {
  clear: both;
}
.clear:before {
  content: "";
  display: table;
  clear: both;
}
.ng-cloak {
  display: none !important;
}
#header {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform-style: flat;
  position: fixed;
  top: -2pt;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}
#header .header-block {
  padding: 11pt 0 9pt 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#header .header-block:active {
  box-shadow: 0 0 50pt rgba(0, 0, 0, 0.1) inset !important;
}
#header .header-block span {
  margin-left: -1.2em;
}
.header-push {
  height: 36pt;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
#footer .head-colors {
  position: fixed;
  bottom: 0;
  font-size: 0;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2);
}
#footer .head-colors td {
  height: 4pt;
}
.menu-container {
  position: relative;
  z-index: 2;
}
.menu-container .button-container .button {
  padding: 7% 0;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.menu-container .button-container .button:active {
  color: rgba(255, 255, 255, 0.85);
}
.menu-container .button-container .button.favorite {
  background: #8E3D8D;
}
.menu-container .button-container .button i {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 36pt;
  line-height: 0pt;
  margin: 0 5% 0 12%;
  vertical-align: middle;
  position: relative;
  top: 3pt;
}
.menu-container .button-container .submenu-container {
  margin: 10pt 0 0;
  font-size: 14pt;
  max-height: 400px;
  height: 0;
  padding: 0 14pt;
  overflow: hidden;
  margin-top: 0;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  transition: transform 0.3s linear;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.menu-container .button-container .submenu-container.opened {
  padding: 10pt 14pt;
  height: auto;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.menu-container .button-container .submenu-container div {
  padding: 5pt 8pt 6pt;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
}
.menu-container .button-container .submenu-container div:last-of-type {
  border-bottom: none;
}
.menu-container .button-container .submenu-container div:active {
  background: rgba(105, 105, 105, 0.1);
}
.menu-container .button-container .submenu-container:last-child {
  border-bottom: none;
}
#posts .post {
  overflow: hidden;
  max-width: 100%;
  margin: 9pt 5pt;
  padding: 0;
  font-size: 0pt;
  box-shadow: 0pt 0pt 1px rgba(0, 0, 0, 0.3);
  background: #ffffff;
}
#posts .post .post-inner .text {
  font-size: 11.5pt;
  padding: 4pt 4pt 4pt 6pt;
  line-height: 14pt;
  max-width: 100%;
  color: #333344;
}
#posts .post .post-inner .text span,
#posts .post .post-inner .text a {
  word-wrap: break-word;
  white-space: pre-wrap;
}
#posts .post .post-inner .text .link {
  display: inline-block;
}
#posts .post .post-inner .text .link:before {
  content: '\e805';
  font-family: "fontello";
  display: inline-block;
  text-align: center;
  line-height: 1em;
}
#posts .post .post-inner .text .link:before {
  font-size: 0.7em;
  margin: 1pt 2pt 0 0;
  vertical-align: middle;
}
#posts .post .post-inner .text .read-more {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed;
  line-height: 1em;
}
#posts .post .post-inner .text .read-more:active {
  background: rgba(53, 93, 153, 0.1);
}
#posts .post .post-inner .links {
  margin: 0 0 2pt;
  padding: 0;
  list-style: none;
  font-size: 10pt;
}
#posts .post .post-inner .links .link a {
  padding: 5pt 5pt;
  display: block;
}
#posts .post .post-inner .links .link a:before {
  content: '\e805';
  font-family: "fontello";
  display: inline-block;
  text-align: center;
  line-height: 1em;
}
#posts .post .post-inner .links .link a:before {
  margin-right: 5pt;
  color: #4374be;
}
#posts .post .post-inner .links .link a:active {
  background: rgba(53, 93, 153, 0.1);
}
#posts .post .post-inner .images {
  text-align: center;
}
#posts .post .post-inner .images .image-container {
  position: relative;
  text-align: center;
  margin-bottom: 2pt;
}
#posts .post .post-inner .images .image-container .zoom {
  font-size: 14pt;
  position: absolute;
  right: -2pt;
  top: -3pt;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  z-index: 3;
  padding: 10pt;
}
#posts .post .post-inner .images .image-container .zoom:before {
  content: '\e80b';
  font-family: "fontello";
  display: inline-block;
  text-align: center;
  line-height: 1em;
}
#posts .post .post-inner .images .image-container .zoom:active {
  color: #E13004;
}
#posts .post .post-inner .images .image-container .gif {
  color: #333344;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 3;
  font-size: 0;
}
#posts .post .post-inner .images .image-container .gif:before {
  content: ' \e800';
  font-family: "fontello";
  display: inline-block;
  text-align: center;
  line-height: 1em;
}
#posts .post .post-inner .images .image-container .gif:before {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  font-size: 20pt;
  line-height: 40pt;
  margin-right: -20pt;
  margin-top: -20pt;
  width: 35pt;
  padding-left: 5pt;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 100%;
}
#posts .post .post-inner .images .image-container .gif.loading {
  font-size: 15pt;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  width: 70pt;
  height: 30pt;
  margin: -20pt -35pt 0 0;
  line-height: 30pt;
  display: inline-block;
  text-align: center;
}
#posts .post .post-inner .images .image-container .gif.loading:before,
#posts .post .post-inner .images .image-container .gif.loaded:before {
  display: none;
}
#posts .post .post-inner .images .image-container .image {
  max-width: 100%;
  max-height: 400pt;
  display: inline;
}
#posts .post .post-inner .images .image-container .image.gif-image {
  margin: 4pt auto 2pt;
  min-width: 140pt;
}
#posts .post .meta {
  font-size: 10pt;
  padding: 2pt 0 3pt;
  color: #777799;
}
#posts .post .meta .group {
  color: #494961;
  font-size: 11pt;
  line-height: 11pt;
  padding-left: 6pt;
  display: block;
  max-width: 120pt;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#posts .post .meta .like-td {
  width: 22pt;
  text-align: center;
}
#posts .post .meta .like-td .like {
  position: relative;
  margin: -10pt -11pt -11pt;
  padding: 10px;
  display: inline-block;
  font-size: 16pt;
  line-height: 19pt;
  color: #5f5f7e;
}
#posts .post .meta .like-td .like:before {
  content: '\e804';
  font-family: "fontello";
  display: inline-block;
  text-align: center;
  line-height: 1em;
}
#posts .post .meta .like-td .like.active {
  color: #ff1802;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
#posts .post .meta .like-td .like.active:before {
  content: '\e803';
  font-family: "fontello";
  display: inline-block;
  text-align: center;
  line-height: 1em;
}
#posts .post .meta .time-td {
  line-height: 11pt;
  text-align: right;
}
#posts .loading,
#posts .updating {
  padding: 5pt 0;
  text-align: center;
  font-size: 12pt;
}
#zoom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 4;
  overflow: hidden;
}
#zoom .overlay {
  height: 100%;
  width: 100%;
  background: rgba(60, 60, 60, 0.95);
}
#zoom .image {
  position: fixed;
  top: 0%;
}
#zoom .image img {
  display: inline-block;
  margin: auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#posts .updating {
  -webkit-transition: 300ms linear all;
  -moz-transition: 300ms linear all;
  transition: 300ms linear all;
  padding: 0;
  height: 0;
  opacity: 0.2;
  overflow: hidden;
  margin-top: 0;
  max-height: 30pt;
}
#posts .updating.opened {
  overflow: visible;
  opacity: 1;
  height: auto;
  margin-top: 8pt;
}
