<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10"
        version   = "2.0.0">

    <name>Surfo</name>

    <description>

    </description>

    <author email="likechokolit@gmail.com">
        Evgeny Nikiforov
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <preference name="phonegap-version" value="2.9.0" />

    <icon src="icons/256.png" with="256" height="256" />
    <icon src="icons/128.png" with="128" height="128" />

</widget>