<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ru.surfo.app"
        versionCode="37"
        version   = "4.1.0">

    <name>Surfo</name>

    <description></description>

    <author href="http://surfo.ru" email="likechokolit@gmail.com">
        Evgeny Nikiforov
    </author>

    <gap:platform name="android" />

    <preference name="target-device" value="universal" />
    <preference name="android-minSdkVersion" value="10" />

    <icon src="icons/512.png" width="512" height="512" />

    <feature name="http://api.phonegap.com/1.0/device" />    
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/file"/>

    <access origin="*" />

    <plugin name="InAppBrowser" value="CDVInAppBrowser" />
    <plugin name="File" value="org.apache.cordova.FileUtils" />
    <plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />
</widget>