<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ru.surfo.app"
        versionCode="18"
        version   = "2.7.0">

    <name>Surfo</name>

    <description></description>

    <author email="likechokolit@gmail.com">
        Evgeny Nikiforov
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="target-device" value="universal" />
    <preference name="android-minSdkVersion" value="14" />

    <icon src="icons/256.png" with="256" height="256" />
    <icon src="icons/128.png" with="128" height="128" />

    <feature name="http://api.phonegap.com/1.0/device" />    
    <feature name="http://api.phonegap.com/1.0/network" />
    <plugin name="InAppBrowser" value="CDVInAppBrowser" />
</widget>