<div class="menu-container">
   <div class="button-container" ng-repeat="(id, menu) in menus">
      <div class="button" ng-style="{background: menu.color}" hm-tap="openMenu($index, menu.submenu.length)">
         {{ menu.name }}
      </div>

      <div class="submenu-container" ng-class="{opened: $index === showedMenu}"> <!-- ng-animate="'submenu'"-->
         <div ng-repeat="smenu in menu.submenu" hm-tap="openCategory(smenu.id)">{{ smenu.name }}</div>
      </div>
   </div>

   <div class="button-container">
      <div class="button favorite" hm-tap="openFavorite()">Избранное</div>
   </div>

</div>

<div id="bg-container">
    <div class="image-bg image" ng-class="{show: true}"></div>
</div>
