<table ng-controller="HeaderController" ng-show="!isTablet" ng-style="{background: colorHeader}" id="header">
    <tr>
        <td hm-tap="back()" class="back"><span class="icon-angle-left"></span></td>
        <td ng-bind="title" class="title"></td>
        <td hm-tap="scrollTop()" class="top"><span class="icon-angle-up"></span></td>
    </tr>
</table>

<div class="header-push"></div>

<div ng-controller="PostsController" id="posts" hm-swipedown="swipeDown()">
  <div ng-class="{opened: updating}" class="updating">Обновление <span class="icon-spin4 animate-spin"></span></div>
  <div ng-class="{opened: FAV && !liked.length}" class="updating">Вы еще не сохранили ни одного поста.</div>

  <div ng-repeat="post in posts | orderBy:order:true" class="post">

     <div class="post-inner" bind-links>
        <div class="text" ng-show="post.text.length" ng-init="text = (post.text | readMore); show=false">
           <span ng-bind-html-unsafe="text[0]"></span>
           <a ng-show="text[1] && ! show" ng-click="show=true" class="read-more">Читать далее</a>
           <span ng-show="show" ng-bind-html-unsafe="text[1]"></span>
        </div>

       <div ng-repeat="photo in post.photos" class="image-container">
          <span class="zoom" ng-click="zoomImage(photo.big)"></span>
          <img ng-src="{{ getPhoto(photo) }}" class="image" style="visibility: hidden" visible-image>
       </div>

       <div ng-repeat="gif in post.gifs" class="image-container">
          <span class="gif" ng-click="openGif($event)">Загрузка...</span>
          <img ng-src="{{ gif.preview }}"
               data-url="{{ gif.url }}"
               ng-click="openGif($event, true)"
               data-preview="{{ gif.preview }}"
               data-opened="false"
               class="image gif-image">
       </div>

      <a ng-show="post.links[0]" ng-href="{{ post.links[0].url }}" ng-bind="post.links[0].title" class="link"></a>

     </div>

     <div class="meta">
        <table>
           <tr>
              <td class="avatar-td">
                  <img ng-src="{{post.groupAvatar}}">
              </td>
              <td class="name-td">
                  <div class="group" ng-bind="post.group"></div>
                  <div am-time-ago="post.date" class="time"></div>
              </td>
              <td class="like-td">
                 <span hm-tap="like(post.id)" class="like" ng-class="{active: isLiked(post.id)}"></span>
              </td>
           </tr>
        </table>
     </div>
  </div>

  <div ng-show="loading" class="loading">Загрузка контента <span class="icon-spin4 animate-spin"></span></div>
</div>

<div ng-controller="ZoomController">
  <div id="zoom" ng-show="zoomOpened">
     <div class="overlay" hm-tap="close()"></div>
     <div class="image" id="zoom-wrap" hm-tap="close()">
        <img ng-src="{{image}}" id="zoom-image" hm-tap="close()">
     </div>
  </div>
  </div>